node_modules
.turbo
dist
build
.expo
.expo-shared
.vite
coverage
pnpm-lock.yaml
.env
.env.local
.env.*.local
apps/api/generated
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal
apps/mobile/.expo
apps/mobile/.expo-shared
*.log

